body {
    padding: 10px;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}

html {
    min-height: 100%;
}

.card {
    padding: 10px;
}

.bid {
    font-size: 18px;
    margin-bottom: 0.5rem;
}

.lots {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
}

.lots1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
}

article {
    margin: 0;
}

article {
    margin: 1rem 0;
}

.lot-item {
    display: flex;
    flex-flow: column;
    border: 1px solid grey;
    border-radius: 1rem;
    padding: 2rem;
    background-color: white;
}

.lot-item1 {
    display: flex;
    flex-flow: column;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 2rem;
}

.lot-item>img {
    order: -1;
    align-self: center;
}

.lot-item1>img {
    order: -1;
    align-self: center;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: white;
}

.button {
    margin-top: auto;
    background: purple;
    padding: 0.5rem;
    border-color: white;
    border-radius: 15rem;
    font-size: 1.2rem;
    text-align: center;
}

.button:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 10px gray;
}

.lot-item>h5 {
    margin: 1rem 1rem 0;
}

.lot-item>img {
    max-width: 90%;
    max-height: 200px;
}

.lot-item1>img {
    max-width: 90%;
    max-height: 200px;
}

a {
    color: black;
    text-decoration: none;
}

.nav-link {
    color: black;
}