{% extends 'auctions/layout.html' %}

{% block title %}
{{category.name}} - Categories
{% endblock title %}

{% block body %}
<h1>{{category.name}}:</h1>
<p></p>
<main class='lots'>
    {% for product1 in product %}
    <div class='lot-item'>
        <h5>{{product1.title}}</h5>
        <ul>
            <li>{{product1.description}}</li>
        </ul>
        <img src="{{product1.image}}" width="300" height="200">
        <a href="{{product1.detailed}} " class="button ">Detailed</a>
    </div>
    {% endfor %}
</main>
{% endblock body %}