{% extends "auctions/layout.html" %}

{% block title %}
Active Listings - {{block.super}}
{% endblock title %}

{% block body %}
<h2>Active Listings:</h2>

<nav class="nav">
    {% for lot_category in lot_categories %}
    <a class="nav-link" href=" {% url 'lotbycategory' lot_category.id %} ">{{lot_category.name}}</a>
    {% endfor %}
</nav>
<main class='lots'>
    {% for lot in lots  %}
    <article class = 'lot-item'>
                    <h5>{{lot.lot_name}}</h5>
                    <ul>
                        <li><strong>Description: </strong>{{lot.lot_description}}</li>
                        <li><strong>Category: </strong>{{lot.lot_category.name}}</li>
                        <li><strong>Initial Bid: </strong>{{lot.lot_price}}$</li>
                        <li><strong>Listed by: </strong>{{lot.lot_author}}</li>
                        <li><small>{{lot.lot_date}}</small></li>
                    </ul>
                    <img src="{{lot.lot_image}}" width="200">
                    <a href="{% url 'lot' lot.id %}" class="button">Lot Detailes</a>
    </article>
{% endfor %}
</main>
{% endblock %}