{% extends 'auctions/layout.html' %}

{% block title %}
{{category.name}} - {{block.super}}
{% endblock title %}

{% block body %}
<h1>{{category.name}}</h1>   
<main class='lots'>
    {% for item in items  %}
    <div class = 'lot-item'>
                    <h5 class="card-title">{{item.lot_name}}</h5>
                    <ul>
                        <li><strong>Description: </strong>{{item.lot_description}}</li>
                        <li><strong>Category: </strong>{{item.lot_category.name}}</li>
                        <li><strong>Initial Bid: </strong>{{item.lot_price}}$</li>
                        <li><strong>Listed by: </strong>{{item.lot_author}}</li>
                        <li><small>{{item.lot_date}}</small></li>
                    </ul>
                    <img src="{{item.lot_image}}">
    </div>
{% endfor %}
</main>

{% endblock body %}