{% extends 'auctions/layout.html' %}

{% block title %}
    WatchList  - {{block.super}}
{% endblock title %}

{% block body %}
<h1>Watchlist : </h1>
<main class='lots1'>
    {% for lot in lots  %}
    <div class = 'lot-item1'>
                    <h5>{{lot.lot_name}}</h5>
                    <ul>
                        <li><strong>Description: </strong>{{lot.lot_description}}</li>
                        <li><strong>Category: </strong>{{lot.lot_category.name}}</li>
                        <li><strong>Initial Bid: </strong>{{lot.lot_price}}$</li>
                        <li><strong>Listed by: </strong>{{lot.lot_author}}</li>
                        <li><small>{{lot.lot_date}}</small></li>
                    </ul>
                    <img src="{{lot.lot_image }}">
                    <a href="{% url 'lot' lot.id %}" class="button">Lot Detailes</a>
    
    </div>
{%empty%}
    <blockquote class="blockquote">
  <p>Nothing here</p>
</blockquote>

</main>
{% endfor %}
   

{% endblock body %}